{% extends 'users_base.html'%}


{% block content %}

{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{error_message}}
</div>
{% endif %}

{% if profile != None %}
<div class="panel panel-default" id="account-details">
  <div class="panel-heading">
    {{account.user.username}}
  </div>
  <div class="panel-body" id="account-body">
    <p>First name: {{ account.user.first_name }}</p>
    <p>Last name:  {{ account.user.last_name }}</p>
    <p>Email:      {{ account.user.email }}</p>
    <p>Current Rating: {{ profile.rating }}</p>

  </div>

  <div class="panel-body" id="account-edit">
  </div>
</div> <!-- end panel -->

<div class="panel panel-default">
  <div class="panel-heading">
    Description
  </div>

  <div class="panel-body">
    {{ profile.description }}
  </div>
</div> <!-- end panel -->

<div class="panel panel-default">
  <div class="panel-heading">
    Contact Information
  </div>

  <div class="panel-body">
    <p>Mobile Number: {{ profile.mobile_number }}</p>
    <p>Contact details:</p>
    <p>{{ profile.contact_info|linebreaks }}</p>
  </div>

</div> <!-- end panel -->
{% endif%}

{% endblock %}
