{% extends "deal_base.html" %}
{% load i18n %}

{%block content %}
  {% if valid_form %}
    <div class="alert alert-success" role="alert">
      You have successfuly made a deal!
    </div>
    {% else %}
    {% if form.errors %}
      <div class="alert alert-danger" role="alert"> 
        You have errors in your submission. Please make nessecary changes!
      </div>
      {% endif %}
      {% load widget_tweaks%}
     
    <form role="form" method="post" action="{% url 'deal_create' %}" enctype="multipart/form-data" data-ajax="false">
      {% csrf_token %}
      {% for field in form %}
        {% if field.errors %}
          <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
          {% endif %}
          <label >{{ field.label }}</label>
          {% render_field field placeholder=field.help_text %}
            {% for error in field.errors%}
          <span class="help-block">
            <strong>{{ error|escape }}</strong>
          </span>
        {% endfor %}


        </div>
              {% endfor %}  
      <input type="submit" value="Create!" class="btn btn-default" name="submit-deal" />
    </form>
  {% endif %}

{% endblock %}
