{% extends "site_base.html" %}
{% load i18n %}
{% block body %}

<div class="container">

  {% if deal %}
  <div class="row">
    <div class="col-md-8" id="deal-content">
      {% block content %} <!-- content block -->

      <h1> {{deal.title}}  </h1> provided by <a href="{% url 'users_detail' owner.id %}">{{owner.username}}</a>
      {% if signed_in%}
      <form role="form" method="post" action="{% url 'deal_detail' deal.id %}">
        {% csrf_token %}
        {% if not bookmark %}
        <input type="submit" value="Bookmark this deal!" class="btn btn-default" name="bookmark" />
        {% else %}
        <input type="submit" value="Remove from bookmark" class="btn btn-danger" name="remove-bookmark" />
        {% endif %}
      </form>
      {% endif %}
      <br/>
      <strong>Rating: </strong> {{avg_rating}} <br/>
      {% if not is_expired and user.is_authenticated and deal.owner.account_id != user.id %}
      <form role="form" method="post" action="{% url 'deal_detail' deal.id %}">
        {% csrf_token %}
        <div class="form-group">
          {{rate_form}}
        </div>
          <input type="submit" value="Rate Deal" class="btn btn-default" name="rate-deal" />
        </form>

        {% endif %}

      <h3> Description </h3>
      <p> {{deal.description}}  </p>
      <h4> Features and Benefits </h4>
      <p> {{deal.features_benefits}}  </p>
      <p><strong>Due Date:</strong> {{deal.end_date}} </p>
      {% if deal.cost_per_unit%}
      <p><strong>Price:</strong> ${{deal.cost_per_unit}} </p>
      {% endif %}
      {% if deal.non_monetary_condition %}
      <p><strong>Non monetary condition: </strong> {{deal.non_monetary_condition}}</p>
      {% endif %}
      {% if deal.savings_per_unit %}
      <p><strong>Savings involved per unit:</strong> ${{deal.savings_per_unit}} </p>
      {% endif %}
      <p><strong>Units left:</strong> {{units_left}}
      <p><strong>Delivery method:</strong> {{deal.delivery_method}}</p>
      <p><strong>Minimum Total Pledges Required:</strong> {{deal.min_pledge_amount}}</p>



      {% endblock %}
    </div> <!-- end deal-content -->

    <div class="col-md-4">
      <div style="width: 100%; height: 15em; background: #000; color: #fff">
        Images
      </div>
      <div style="width: 100%; height: 15em; background: #000; color: #fff; margin-top: 1em;">
        Images
      </div>
    </div>
  </div> <!-- end row -->

  {% if error_message%}
   <div class="alert alert-danger" role="alert">
       {{error_message}}
    </div>
    {% endif %}

    {% if units_left <= 0 %}
    <div class="alert alert-info" role="alert"> 
        This deal has no units left! :( <br/>
        Thank you for your interest!
    </div>
    {% endif %}

    {% if has_pledged %}
      <div class="alert alert-success" role="alert" style="margin-top: 1em;">
        You have already pledged! 
        <a href="{% url 'pledge_edit' deal.id %}"><button class="btn btn-default">Take me to my pledge</button></a>
      </div>
    {% endif %}

    {% if not signed_in %}
      Please signin to make a commitment!
    {% endif %}

    {% if signed_in and units_left > 0 and not has_pledged and not is_expired %}
  <div class="row">
    <h1> Make a Pledge </h1>
          <form role="form" method="post" action="{% url 'deal_detail' deal.id %}">
            {% csrf_token %}

            {% for field in pledge_form %} {# start pledge_form for #}
              {% if field.errors %}
                <div class="form-group has-error has-feedback"> <!-- start form-group div -->
              {% else %}
                <div class="form-group">
              {% endif %}

              <label> {{field.label}} </label>
              {{field}}

              {% for error in field.errors%}
                <span class="help-block">
                  <strong>{{ error|escape }}</strong>
                </span>
              {% endfor %} {# end for field.errors #}

                </div> <!-- end form-group div -->
            {% endfor %} {# end pledge_form for#}

            <input type="submit" value="Cut me a Slice!" class="btn btn-default" name="submit-pledge" />

          </form>



  </div> <!-- end row -->

    {% endif %}

  {% endif %} {# end if deal  #}

</div> <!-- end container -->
{% endblock %}


