{% extends "profile_base.html" %}

{% block content %}
{% if error_message%}
<div class="alert alert-danger" role="alert">
  {{error_message}}
</div>
{% else %}

{% for u in found_users %}
{% for p in user_profiles %}
{% for i in p.commitment_set.all %}
<div class="well">
  {{u.email}}
  {{i.requests}}
</div>
 {% endfor %}
 {% endfor %}
 {% endfor %}



  {% if not pledges %}
   <div class="alert alert-warning" role="alert">
      Nobody has commited yet! Please check again later!
   </div>
  {% endif %}
{% endif %}
{% endblock %}
