{% extends "site_base.html" %}

{% load i18n %}

{% block body %}
	<div class="container">

		<div class="row">
			{% include "deal_nav.html" %}
      <div class="col-md-10" id="deal-content">
        {% block content %} <!-- content block -->
  
    
        {% endblock %}
			</div> <!-- end deal-content -->
		</div> <!-- end row -->
	</div> <!-- end container -->
{% endblock %}




<!-- 
  This is the template for our Deal app.
  If you change this, all webpages in Deal that extends this file will be changed.  

  Our content will be automatically rendered in between the content block (see above code)

  -->

