
<form role="form" action="/your-name/" method="get" id="deal-nav" class="form-horizontal col-md-2">
	<div class="form-group">
    	<label for="price">Price </label>
    	<input id="price" type="text" name="price" class="form-control">
    </div>

    <div class="form-group">
    	<label for="Name">Name </label>
    	<input id="Name" type="text" name="Name" class="form-control">
    </div>

    <div class="form-group">
    	<label for="Tag">Tag </label>
    	<input id="Tag" type="text" name="Tag" class="form-control">
    </div>

	<h6>Deal States:</h6>


    <div class="checkbox">
  		<label>
    		<input type="checkbox" value="">
			Open
  		</label>
	</div>

	 <div class="checkbox">
  		<label>
    		<input type="checkbox" value="">
			Closed
  		</label>
	</div>

	 <div class="checkbox">
  		<label>
    		<input type="checkbox" value="">
			Started
  		</label>
	</div>

    <input type="submit" value="OK" class="btn btn-default">
</form>