{% extends "site_base.html" %}
{% load i18n %}
{% block body %}

<div class="container">

  {% if deal %}
  <div class="row">
    <div class="col-md-8" id="deal-content">
      {% block content %} <!-- content block -->

      <h1> {{deal.title}}  </h1> provided by {{owner.username}}
      {% if signed_in%}
      <form role="form" method="post" action="{% url 'deal_detail' deal.id %}">
        {% csrf_token %}
        {% if not bookmark %}
        <input type="submit" value="Bookmark this deal!" class="btn btn-default" name="bookmark" />
        {% else %}
        <input type="submit" value="Remove from bookmark" class="btn btn-danger" name="remove-bookmark" />
        {% endif %}
      </form>
      {% endif %}
      <br/>
      <strong>Rating: </strong> {{avg_rating}} <br/>
      {% if not is_expired%}
      <form role="form" method="post" action="{% url 'deal_detail' deal.id %}">
        {% csrf_token %}
        <div class="form-group">
          {{rate_form}}
        </div>
          <input type="submit" value="Rate Deal" class="btn btn-default" name="rate-deal" />
        </form>

        {% endif %}

      <h3> Description </h3>
      <p> {{deal.description}}  </p>
      <h4> Features and Benefits <h4>
      <p> {{deal.features_benefits}}  </p>
      <p><strong>Due Date:</strong> {{deal.end_date}} </p>
      <p><strong>Price:</strong> ${{deal.cost_per_unit}} </p>
      <p><strong>Savings involved per unit:</strong> ${{deal.savings_per_unit}} </p>
      <p><strong>Units left:</strong> {{units_left}}
      <p><strong>Delivery method:</strong> {{deal.delivery_method}}</p>
      <p><strong>Minimum Total Pledges Required:</strong> {{deal.min_pledge_amount}}</p>



      {% endblock %}
    </div> <!-- end deal-content -->

    <div class="col-md-4">
      <div style="width: 100%; height: 15em; background: #000; color: #fff">
        Images
      </div>
      <div style="width: 100%; height: 15em; background: #000; color: #fff; margin-top: 1em;">
        Images
      </div>
    </div>
  </div> <!-- end row -->

{% if not is_expired %}
  <div class="row">

 <h1> Make a Pledge </h1>
    {% if signed_in%}
        {% if has_pledged %}
          <div class="alert alert-success" role="alert" style="margin-top: 1em;">
            You have already pledged towards this deal!
          </div>
          {% endif %} {# end has_pledge #}

          {% if units_left > 0 %}
          <form role="form" method="post" action="{% url 'deal_detail' deal.id %}">
            {% csrf_token %}

            {% for field in pledge_form %} {# start pledge_form for #}
              {% if field.errors %}
                <div class="form-group has-error has-feedback"> <!-- start form-group div -->
              {% else %}
                <div class="form-group">
              {% endif %}

              <label> {{field.label}} </label>
              {{field}}

              {% for error in field.errors%}
                <span class="help-block">
                  <strong>{{ error|escape }}</strong>
                </span>
              {% endfor %} {# end for field.errors #}

                </div> <!-- end form-group div -->
            {% endfor %} {# end pledge_form for#}

            <input type="submit" value="Cut me a Slice!" class="btn btn-default" name="submit-pledge" />

          </form>
          {% else %} {# if units_left else #}
            <div class="alert alert-info" role="alert"> 
              This deal has no units left! :( <br/>
              Thank you for your interest!
            </div>
          {% endif %} {# end if units_left #}
    {% else %} {# if signed_in else #}
      Please sign in to pledge

    {% endif %}



  </div> <!-- end row -->
  {% else%} {# if not is expired else #}
    <div class="alert alert-danger" role="alert"> 
      Deal has expired!
    </div>

  {% endif %}
  {% else %} {# if deal else #}
   <div class="alert alert-danger" role="alert"> 
      No deal is found. Did you enter the correct URL?
   </div>

  {% endif %} {# end if deal#}
</div> <!-- end container -->
{% endblock %}


