{% extends "profile_base.html" %}

{% block content %}
{% if error_message%}
<div class="alert alert-danger" role="alert">
  {{error_message}}
</div>
{% else %}

{% for p in user_profiles %}
  {% for i in p.commitment_set.all %}
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-circle" src="/static/images/default.svg" >
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="{% url 'deal_detail' deal.id %}">{{ deal.title }}</a>
        <a href="{% url 'pledge_edit' deal.id %}"><i class="fa fa-edit"></i></a>
     {% if deal.start_date <= now and deal.end_date > now %}
          <span class="badge alert-success">Active</span>
      {% elif deal.start_date <= now and deal.end_date <= now %}
          <span class="badge alert-danger">Ended</span>
      {% elif deal.start_date > now %}
          <span class="badge alert-info">Coming soon</span>
      {% endif %}

      </h4>
      <strong>Pledged units: </strong>{{ i.units }} <br/>
      <strong>Your request: </strong>{{i.requests}}
    </div>

  </div>
  {% endfor %}
  {% endfor %}



  {% if not pledges %}
   <div class="alert alert-warning" role="alert">
      Nobody has commited yet! Please check again later!
   </div>
  {% endif %}
{% endif %}
{% endblock %}
