{% extends "profile_base.html" %}

{% block content %}
    
    <div class="panel panel-default" id="account-details">
        <div class="panel-heading">Edit Deal</div>

        <div class="panel-body" id="account-body">
    	    <form role="form" method="post" action="{% url 'deal_edit' deal.id %}" enctype="multipart/form-data" data-ajax="false">{% csrf_token %}

            {% for field in edit_form %}
            <div class="form-group">
                <label>{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
            
    		<a href="{% url 'profile_mydeals'%}">
                <button class="btn btn-default">Cancel</button>
            </a>
            <input type="submit" value="Save" class="btn btn-default" name="save-deal-details" id="account-save-btn" />
        </form>
    </div>
</div>
{% endblock %}