<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Sort by <span class="caret"></span>
  </button>
<ul class="dropdown-menu" role="menu">
  <li><a href="?sort=price_lth">Price (lowest to highest)</a></li>
  <li><a href="?sort=price_htl">Price (highest to lowest)</a></li>

 <li class="divider"></li>
 <li><a href="?sort=alpha_lth">Title (a-z)</a></li>
  <li><a href="?sort=alpha_htl">Title (z-a)</a></li>
  <li class="divider"></li>

  <li><a href="?sort=end_date_lth">End date (closest to furthest)</a></li>
  <li><a href="?sort=end_date_htl">End date (furthest to closest)</a></li>
  <li class="divider"></li>
  <li><a href="?sort=start_date_lth">Start date (closest to furthest)</a></li>
  <li><a href="?sort=start_date_htl">Start date (furthest to closest)</a></li>

  </ul>
</div>
