<ul class="pager">
<span class="step-links">
  <li><a href="?{{query.urlencode}}&amp;page=1">First</a></li>

    {% if deals.has_previous %}
    <li><a href="?{{query.urlencode}}&amp;page={{ deals.previous_page_number }}">&larr; Previous</a></li>
    {% endif %}

    <span class="current">
      Page {{ deals.number }} of {{ deals.paginator.num_pages }}.
    </span>

    {% if deals.has_next %}
    <li><a href="?{{query.urlencode}}&amp;page={{ deals.next_page_number }}">Next &rarr;</a></li>
    {% endif %}

    <li><a href="?{{query.urlencode}}&amp;page={{last_page}}">last</a></li>
  </span>
</ul>


