{% extends "profile_base.html" %}

{% block content %}
Sort by:
<ol class="breadcrumb">
  <li><a href="?sort=price_lth">Price (lowest to highest)</a></li>
  <li><a href="?sort=price_htl">Price (highest to lowest)</a></li>
  <li><a href="?sort=alpha_lth">Title (a-z)</a></li>
    <li class="active">Data</li>
</ol>

{% for deal in deals %}
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="/static/images/default.svg" >
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{% url 'deal_detail' deal.id %}">{{ deal.title }}</a>
    </h4>
    {{ deal.short_desc }} <br/>
    Ends on {{ deal.end_date }} <br/>
  </div>

</div>

{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if deals.has_previous %}
    <a href="?page={{ deals.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ deals.number }} of {{ deals.paginator.num_pages }}.
    </span>

    {% if deals.has_next %}
    <a href="?page={{ deals.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>

{% endblock %}
