{% extends "profile_base.html" %}

{% block content %}

  {% for deal in deals %}
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="/static/images/default.svg" >
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="{% url 'deal_detail' deal.id %}">{{ deal.title }}</a>
      </h4>
      <strong>Created on </strong> {{deal.time_posted}} <br/>
      <strong>Last Modified: </strong> {{deal.last_modified_date}} <br/>
      Ends on {{ deal.end_date }}
    </div>

</div>

  {% endfor %}

{% endblock %}
